[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CoSIA"]
	path = CoSIA
	url = https://github.com/lasseignelab/cosia
	shallow = true
	registered = true
